<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザー登録</title>
</head>

<body>
    <h1>ユーザー登録</h1>
    <form action="/register" method="POST">
        <div>
            <label for="username">ユーザー名</label>
            <input type="text" name="username" id="username" placeholder="ユーザー名">
        </div>
        <div>
            <label for="password">パスワード</label>
            <input type="password" name="password" id="password" placeholder="パスワード">
        </div>
        <button>登録</button>

    </form>
</body>

</html>